@import 'helpers/functions';
@import 'base/color';
@import 'base/variables';

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  padding: px-to-rem(8) 1rem;
  z-index: 1;
  font-size: px-to-rem(20);
  font-weight: bold;
  height: $header-height;

  div {
    line-height: calc(#{$header-height} - #{px-to-rem(16)});
    display: inline-block;
    color: $font-white;
  }
}

