@import 'helpers/functions';

.table-wrapper {
  padding: px-to-rem(15);

  table {
    width: 95%;
    margin: auto;
    background: #fff;
    text-align: center;

    img {
      width: px-to-rem(60);
      height: px-to-rem(60);
    }
  }
}
