@import 'helpers/functions';
@import 'base/variables';

.filters-wrapper {
  padding: px-to-rem(15);

  .filters-panel {
    height: px-to-rem(120);
    width: 95%;
    background-color: #f2f2f2;
    margin: auto;
    border-radius: 20px;
    padding: px-to-rem(20) px-to-rem(40);
    margin-top: px-to-rem(10);

    .filter {
      width: 33.3%;
      display: inline-block;

      label {
        font-weight: bold;
      }
    }

    .button-wrapper {
      padding-top: px-to-rem(10);
      padding-right: px-to-rem(20);

      button {
        float: right;
        &:last-child {
          margin-right: px-to-rem(5);
        }
      }
    }
  }
}

@media screen and (max-width: $screen-width-768) {
  .filters-wrapper {
    .filters-panel {
      height: px-to-rem(210);
      padding: px-to-rem(10) px-to-rem(20);

      .filter {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $screen-width-768 + 1) and (max-width: $screen-width-868) {
  .filters-wrapper {
    .filters-panel {
      height: px-to-rem(160);
    }
  }
}

