<div class="table-wrapper panel panel-default">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
          <tr>
              <th colspan="11">Rick and Morty characters</th>
            </tr>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Species</th>
            <th>Type</th>
            <th>Gender</th>
            <th>Origin</th>
            <th>Location</th>
            <th>Episodes</th>
            <th>Created</th>
            <th>Image</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let character of results;let i = index;" (click)="onCharacterClicked(character)">
              <td class="align-middle">{{i + 1}}</td>
              <td class="align-middle">{{character.name}}</td>
              <td class="align-middle">{{character.status}}</td>
              <td class="align-middle">{{character.species}}</td>
              <td class="align-middle">{{character.type}}</td>
              <td class="align-middle">{{character.gender}}</td>
              <td class="align-middle">{{character.origin?.name}}</td>
              <td class="align-middle">{{character.location?.name}}</td>
              <td class="align-middle">{{getNumberOfEpisodes(character)}}</td>
              <td class="align-middle">{{character.created | date: 'dd/MM/yyyy'}}</td>
              <td class="align-middle"><img class="image" [src]="character.image"></td>
            </tr>
      </tbody>

    </table>

    <rm-pagination (prevClicked)="onPrevClicked()" (nextClicked)="onNextClicked()" [paginationInfo]="info"></rm-pagination>
</div>
